.bannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    background-image: url(https://extra.kansalliskirjasto.fi/ids_banner_public.webp);
    background-position: center;
    background-size: cover;
}

.textContainer {
    color: var(--color-brand-darkBlue);
    background-color: var(--color-white-90);
    border: 0.25rem solid var(--color-brand-darkBlue);
    border-radius: 0.5rem;
}

.textContainer > h1 {
    text-align: center;
    letter-spacing: 0.1px;
    padding-top: 0.5rem;
    font-size: clamp(1.8rem, 3.5vw, 3.8rem);
    font-family: Georgia, serif;
}

.textContainer > div {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 1.5rem;
}

.textContainer > div > div {
    width: 30%;
}

.textContainer h2 {
    padding: 1rem;
    letter-spacing: 0.2px;
    line-height: 2rem;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    font-weight: 400;
    font-family: "Open Sans", Helvetica, sans-serif;
}

@media (width > 1550px) {
    .bannerContainer {
        height: 25rem;
    }
}

@media (width < 1200px) {
    .textContainer {
        max-width: 90%
    }

    .bannerContainer {
        height: 22.5rem;
    }
}

@media (width < 1000px) {
    .bannerContainer {
        height: 30rem;
    }

    .bannerContainer > .textContainer > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .bannerContainer > .textContainer > div > div {
        width: 100%;
    }
}

@media (width < 700px) {
    .bannerContainer {
        height: 32.5rem;
    }
}

@media (width < 475px) {
    .bannerContainer {
        height: 35rem;
    }
    .textContainer > div {
        margin: 0.5rem 0 1rem;
    }

    .bannerContainer > .textContainer > div {
        gap: 0.5rem;
    }
}

@media (width < 360px) {
    .bannerContainer {
        height: 40rem;
    }
}
