.publicMenu {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 7.6rem;
    width: 100%;
    background-color: var(--color-whitesmoke);
}

.publicMenu button {
    text-transform: none;
    font-size: 1rem;
}

.publicMenu a,
.publicMenu div {
    height: 50px;
    display: flex;
}

.publicMenu > div > button:focus-visible {
    outline: 2px solid var(--color-brand-darkBlue);
}

.menuIcon {
    display: flex;
    align-items: center;
}

.menuItem {
    font-size: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.menuItemWithIcon {
    gap: 0.25rem;
}

@media (max-width:1000px) {
    .publicMenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding-left: 1rem;
    }
}

@media (max-width:525px) {
    .publicMenu {
        padding-bottom: 1rem;
    }
}
