.desktopMenu {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 7.6rem;
    width: 100%;
    background-color: var(--color-whitesmoke);
}

.desktopMenu button,
.mobileMenu button {
    text-transform: none;
    font-size: 1rem;
}

.desktopMenu a,
.desktopMenu div {
    height: 3rem;
    display: flex;
    color: var(--color-brand-darkBlue);
    text-decoration: none;
}

.desktopMenu a:hover,
.mobileMenu a:hover,
.desktopMenu > div > button:hover,
.mobileMenu > button:hover {
    text-decoration: underline;
}

.desktopMenu > div > button:focus-visible,
.mobileMenu > button:focus-visible,
.mobileMenu > a:focus-visible {
    outline: 0.125rem solid var(--color-brand-darkBlue);
}

.mobileMenu > a:focus-visible {
    outline-offset: -0.2rem;
    outline-style: auto;
    background-color: transparent;
}

.mobileMenu {
    display: none;
}

.menuIcon {
    display: flex;
    align-items: center;
}

.menuItem,
.mobileMenuItem {
    font-size: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    color: var(--color-brand-darkBlue);
    font-family: "Open Sans", sans-serif;
}

p.mobileMenuItem {
    font-size: 0.875rem;
}

.menuItemWithIcon {
    gap: 0.25rem;
}

@media (width < 1000px) {
    .desktopMenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }
}

@media (width < 600px) {
    .desktopMenu {
        display: none;
    }

    .mobileMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 3rem;
        background-color: var(--color-whitesmoke);
        color: var(--color-brand-darkBlue);
    }

    .mobileMenu > a p {
        display: flex;
        align-items: center;
        gap: 0.125rem;
    }
}

@media (width < 400px) {
    p.mobileMenuItem {
        font-size: 0.75rem;
    }
}
