.appBar {
    background-color: var(--color-brand-darkBlue) !important;
}

.testHeader {
    display: flex;
    justify-content: center;
    background-color: rgb(139, 0, 139);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 6.5rem;
}

.navbarInnerContainer {
    display: inherit;
    gap: 2rem;
    align-items: center;
}

.mainLogo {
    margin: 0.45rem 0 0 1rem;
}

.mainLogo img {
    width: 7.25rem;
}

.languageSelect {
    display: inherit;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color-white);
    font-size: 1rem;
}

.languageSelect span {
    padding-left: 5px;
    font-weight: 600
}

.languageContainer {
    display: inherit;
    margin-right: 1rem;
}

.topNavTitle {
    /* Using important in rules below for overriding default styles of MUI <h1> element */
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    font-family: Georgia, serif !important;
}

.uniHeader {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: var(--color-brand-teal);
}

.uniHeader a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--color-white) !important;
}

.uniHeader a:hover {
    text-decoration: underline !important;
}

@media (max-width:550px) {
    .topNavTitle {
        font-size: 1.2rem !important;
    }
}
