.bodyContainer {
    margin-bottom: 40px;
    justify-content: center;
}

.errorWrapper {
    place-content: center;
}

.appWrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 0.4fr 9fr 2fr;
}

.skipLink {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skipLink:focus {
    display: inline-block;
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 0.5rem;
    margin: 0.5rem;
}
