footer {
    width: 100%;
}

footer,
.footerContainer {
    background: var(--color-brand-darkBlue);
    color: var(--color-white);
}

footer > p {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
    font-size: clamp(0.75rem, 1.5vw, 1.15rem);
}

.appWrapper footer > p > a,
.socialContainer > a {
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
}

footer > p > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

footer > p > a:hover {
    text-decoration: underline;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 0.25rem;
    font-size: clamp(0.75rem, 1.5vw, 1.15rem);
}

.footerBoldText {
    font-weight: 600;
}

.socialContainer {
    display: flex;
    justify-content: space-between;
}

.socialContainer > a {
    padding: 0.25rem 0;
}

@media (width < 1000px) {
    .footerContainer span > img {
        width: 6em;
    }

    .socialContainer > a {
        padding: 0.125rem 0;
    }

    .privacyPolicyLink > svg,
    .socialContainer > a > svg {
        width: 0.8em;
    }
}

@media (width < 750px) {
    .footerContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 1rem;
    }

    .footerContainer > span {
        padding-left: 1rem;
    }

    .socialContainer {
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .socialContainer > a {
        padding: 0;
    }
}

@media (width < 500px) {
    .footerContainer > span {
        padding-left: 0;
    }
}
