.label {
    font-weight: 700;
}

.full {
    flex-direction: column;
}

.selectField {
    width: 100%;
}

#react-select-2-placeholder,
#react-select-3-placeholder {
    color: hsla(0, 0%, 0%, 0.55);
}

.classificationCodes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.classificationCodes div:first-child {
    min-width: 100%;
}

.classificationCodes > div:nth-child(2) {
    width: 95%;
}

.arrayContainer {
    display: grid !important;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.arrayContainer div {
    max-width: 100%;
    flex-basis: unset;
}

.arrayContainer div div{
    width: auto;
}

.comments {
    font-family: "Open Sans", Helvetica, sans-serif;
    white-space: pre-wrap;
}
